@charset "UTF-8";
/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   zi xian ver.20241009
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.5s;
}

input,
button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

:root {
  --primary: rgb(247, 173, 77);
  --secondary: rgb(255, 208, 120);
  --business: rgb(229, 189, 226);
  --personal: rgb(189, 200, 229);
  --travel: rgb(189, 229, 204);
  --study: rgb(189, 229, 222);
  --light: rgb(238, 238, 238);
  --gray: rgb(171, 171, 171);
  --dark: rgb(142, 129, 119);
  --danger: rgb(200, 136, 52);
  --white: rgb(255, 255, 255);
  --test: 1px solid tomato;
  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-2: 0 4px 6px rgba(0, 0, 0, 0.1);
  --business-glow: 0 0 4px rgba(112, 153, 214, 0.75);
  --personal-glow: 0 0 4px rgba(141, 214, 112, 0.75);
}

* {
  font-size: 16px;
  font-family: "montserrat", sans-serif;
}

body {
  background: var(--light);
  color: var(--gray);
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-content {
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  padding: 30px;
  border-radius: 8px;
}

.confirm-modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.confirm-modal-buttons .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.confirm-modal-buttons #confirm-yes {
  background-color: var(--primary);
  color: var(--white);
  font-weight: 500;
}
.confirm-modal-buttons #confirm-no {
  background-color: var(--light);
  font-weight: 500;
}

.alert-modal-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}
.alert-modal-buttons .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.alert-modal-buttons #alert-check {
  background-color: var(--primary);
  color: var(--white);
  font-weight: 500;
}

#login-container {
  position: relative;
  background: linear-gradient(to bottom, var(--secondary), var(--primary));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#login-container .error-text {
  color: tomato;
  font-size: 0.75rem;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  #login-container {
    flex-direction: column;
  }
}

.login-img {
  width: 35%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.login-img h3 {
  color: var(--white);
  font-size: 40px;
  margin-bottom: 5px;
}
.login-img h4 {
  color: var(--white);
  margin-bottom: 20px;
}
.login-img img {
  width: 200px;
  aspect-ratio: auto;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.login-img img:hover {
  animation: elastic-bounce 0.6s ease-out;
}
@media (max-width: 768px) {
  .login-img {
    text-align: center;
    width: 40%;
    margin: 30px 0;
  }
  .login-img h3 {
    font-size: 30px;
  }
  .login-img h4 {
    font-size: 10px;
  }
  .login-img img {
    width: 100px;
  }
}

/* 定義彈性跳動動畫 */
@keyframes elastic-bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(10px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 35%;
  height: 400px;
}
@media (max-width: 768px) {
  .form-container {
    align-items: flex-start;
    width: 60%;
  }
}

.login,
.register {
  position: absolute;
  width: 100%;
  /* 初始狀態 */
  opacity: 0;
  visibility: hidden;
  transform: translateX(30px);
  transition: all 0.3s ease;
  pointer-events: none; /* 防止隱藏時的互動 */
}
.login.active,
.register.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  pointer-events: auto; /* 恢復互動 */
}

#login-form h4,
#register-form h4 {
  color: var(--white);
  margin: 1.25rem 0 0.5rem;
}
#login-form #login-email-content,
#login-form #login-password-content,
#login-form #register-email-content,
#login-form #register-nickname-content,
#login-form #register-password-content,
#login-form #register-password2-content,
#register-form #login-email-content,
#register-form #login-password-content,
#register-form #register-email-content,
#register-form #register-nickname-content,
#register-form #register-password-content,
#register-form #register-password2-content {
  color: var(--dark);
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  font-size: 1rem;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 0.5rem;
}
#login-form #login-email-content::-moz-placeholder, #login-form #login-password-content::-moz-placeholder, #login-form #register-email-content::-moz-placeholder, #login-form #register-nickname-content::-moz-placeholder, #login-form #register-password-content::-moz-placeholder, #login-form #register-password2-content::-moz-placeholder, #register-form #login-email-content::-moz-placeholder, #register-form #login-password-content::-moz-placeholder, #register-form #register-email-content::-moz-placeholder, #register-form #register-nickname-content::-moz-placeholder, #register-form #register-password-content::-moz-placeholder, #register-form #register-password2-content::-moz-placeholder {
  color: var(--gray);
  font-size: 0.75rem;
}
#login-form #login-email-content::placeholder,
#login-form #login-password-content::placeholder,
#login-form #register-email-content::placeholder,
#login-form #register-nickname-content::placeholder,
#login-form #register-password-content::placeholder,
#login-form #register-password2-content::placeholder,
#register-form #login-email-content::placeholder,
#register-form #login-password-content::placeholder,
#register-form #register-email-content::placeholder,
#register-form #register-nickname-content::placeholder,
#register-form #register-password-content::placeholder,
#register-form #register-password2-content::placeholder {
  color: var(--gray);
  font-size: 0.75rem;
}
#login-form .buttons,
#register-form .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
#login-form .buttons .primary-btn,
#register-form .buttons .primary-btn {
  color: var(--white);
  background-color: var(--danger);
  box-shadow: var(--shadow-1);
  display: block;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.2s ease;
}
#login-form .buttons .primary-btn:hover,
#register-form .buttons .primary-btn:hover {
  opacity: 0.8;
  transform: translateY(-2px);
  box-shadow: var(--shadow-2);
}
#login-form .buttons .secondary-btn,
#register-form .buttons .secondary-btn {
  color: var(--danger);
  opacity: 0.5;
  font-size: 0.8rem;
  text-decoration: underline;
}
#login-form .buttons .secondary-btn:hover,
#register-form .buttons .secondary-btn:hover {
  opacity: 1;
}

.navbar-container {
  background: linear-gradient(to bottom, var(--secondary), var(--primary));
  box-shadow: var(--shadow-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 60px;
}

.navbar-container {
  color: var(--white);
}

.logo-container {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.logo-container h2 {
  color: var(--white);
  font-size: 1.75rem;
  font-weight: 700;
  margin: auto 0;
  text-align: center;
}
.logo-container .logo-image {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

.account-container {
  display: flex;
  align-items: center;
}
.account-container .account-name {
  font-weight: 600;
  margin-right: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.account-container .logout-btn {
  display: block;
  color: var(--white);
  opacity: 0.8;
  font-weight: 600;
  cursor: pointer;
}
.account-container .logout-btn:hover {
  opacity: 1;
}

.greeting {
  display: flex;
  max-width: 100%;
  padding: 20px 60px;
}

.title,
.title input {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-size: 1.25rem;
  font-weight: 700;
}

.title input {
  flex: 1 1 0%;
  margin-left: 0.5rem;
  min-width: 0;
  font-style: italic;
}

.title input::-moz-placeholder {
  color: var(--gray);
  font-style: italic;
  opacity: 0.5;
}

.title input::placeholder {
  color: var(--gray);
  font-style: italic;
  opacity: 0.5;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  padding: 10px 60px;
  margin-bottom: 25px;
}

.create-todo {
  flex: 1;
  max-width: 100%; /* 移除過度限制 */
  padding: 0 0.5rem;
}

.create-todo h3 {
  color: var(--primary);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

#new-todo-form {
  width: 100%;
}
#new-todo-form h4 {
  color: var(--gray);
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

#todo-content {
  color: var(--dark);
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  font-size: 1.125rem;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
}

#todo-content::-moz-placeholder {
  color: var(--gray);
  font-size: 1rem;
}

#todo-content::placeholder {
  color: var(--gray);
  font-size: 1rem;
}

#new-todo-form .options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.tag {
  color: var(--white);
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 600;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

/* 標籤顏色 */
.business-tag {
  background-color: var(--business);
}

.personal-tag {
  background-color: var(--personal);
}

.travel-tag {
  background-color: var(--travel);
}

.study-tag {
  background-color: var(--study);
}

/* 隱藏 checkbox */
input[type=radio] {
  display: none;
}

/* 滑鼠懸停效果 */
.tag:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* 選取狀態效果 */
input[type=radio]:checked + .tag-text {
  color: var(--white);
}

/* 選取後外框和按壓效果 */
.tag:has(input[type=radio]:checked) {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px); /* 模擬按壓效果 */
}

#add-todo {
  color: var(--white);
  background-color: var(--primary);
  font-size: 1.125rem;
  font-weight: 600;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#add-todo:hover {
  opacity: 0.8;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.todo-list {
  flex: 1; /* 彈性分配寬度 */
  max-width: 100%; /* 移除過度限制 */
  padding: 0 0.5rem;
}

.todo-list-container {
  background-color: var(--white);
  max-width: 100%; /* 平均分配寬度 */
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-1);
}

.todo-list h3 {
  color: var(--primary);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.sort-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.sort-buttons h4 {
  color: var(--gray);
  font-size: 0.75rem;
  font-weight: 500;
}
.sort-buttons .sort {
  color: var(--white);
  background-color: var(--secondary);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0 10px;
  margin-left: 10px;
  border-radius: 0 8px 8px 0;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.sort-buttons .sort:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.sort-buttons .sort:has(input[type=radio]:checked) {
  transform: translateY(2px); /* 模擬按壓效果 */
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--light);
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.1); /* 只在底部產生陰影 */
}

.tab {
  color: var(--gray);
  flex: 1;
  text-align: center;
  padding: 18px 14px 14px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.1s ease;
}

.tab:hover {
  opacity: 0.8;
}

.tab.active {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.task-clear-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 10px 0;
}
.task-clear-container .task-clear-img {
  width: 20%;
  filter: grayscale(90%) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
  opacity: 0.8;
}

.hidden {
  display: none;
}

.task-list {
  margin-top: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 0.8px solid var(--gray);
}

input.task-checkbox {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.task-list-tag {
  color: var(--white);
  background-color: var(--white);
  padding: 5px;
  margin-right: 5px;
  border-radius: 6px;
  font-size: 0.6rem;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.task-list-tag.business {
  background-color: var(--business);
}
.task-list-tag.personal {
  background-color: var(--personal);
}
.task-list-tag.travel {
  background-color: var(--travel);
}
.task-list-tag.study {
  background-color: var(--study);
}

input.task-content {
  color: var(--gray);
  display: flex;
  flex: 1;
  font-size: 14px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.task.completed input.task-content {
  opacity: 0.6;
  color: var(--gray);
  text-decoration: line-through;
}

input.task-checkbox {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* 隱藏默認樣式 */
  width: 16px;
  height: 16px;
  border: 1.8px solid var(--gray); /* 設定外框顏色 */
  border-radius: 4px; /* 可選：圓角 */
  cursor: pointer;
}

input.task-checkbox:checked {
  background-color: var(--primary); /* 設定選中時的背景色 */
  border: none;
}

input.task-checkbox:checked::after {
  position: absolute;
  content: "✔"; /* 添加勾勾符號 */
  color: var(--white); /* 勾勾顏色 */
  font-size: 12px; /* 勾勾大小 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 讓勾勾居中 */
}

.edit-btn {
  color: var(--danger);
  margin-right: 0.75rem;
  opacity: 0.5;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.edit-btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

.edit-btn:active {
  color: var(--primary);
  transform: scale(0.9);
}

.remove-btn {
  color: var(--danger);
  margin-right: 0.5rem;
  opacity: 0.5;
  font-size: 18px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

.remove-btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

.remove-btn:active {
  color: var(--primary);
  transform: scale(0.9);
}

.slide-up {
  opacity: 0;
  transform: translateY(0%);
  transition: all 0.2s ease;
}

.footer {
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 14px 10px 18px;
  margin-top: 10px;
}

.task-count {
  color: var(--primary);
  font-weight: 500;
}

.clear-all-btn {
  color: var(--danger);
  opacity: 0.5;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.clear-all-btn:hover {
  opacity: 1;
  text-decoration: underline;
}

@media (max-width: 880px) {
  .app {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .greeting {
    justify-content: center;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
  }
  .create-todo {
    padding: 0;
    max-width: 400px;
    width: 100%;
  }
  .todo-list {
    padding: 0;
    max-width: 400px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .navbar-container {
    flex-direction: column;
  }
  .account-container {
    display: none;
  }
  .app {
    padding: 0 20px;
  }
  #new-todo-form .options {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
}/*# sourceMappingURL=main.css.map */